@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import 'scrollbar.scss';
@import 'transitions.scss';

body::-webkit-scrollbar {
  display: none;
  height: 100vh;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  // -ms-overflow-style: none;
  /* IE and Edge */
  // scrollbar-width: none;
  /* Firefox */
}

.v-app-bar.v-toolbar.v-sheet {
  height: 64px !important;
}

.v-toolbar__content {
  height: 64px !important;
}

.v-toolbar {
  height: 64px !important;
}
/* delete scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-track {
  width: 0;
}
